<!--<script type='text/javascript'>
setTimeout("location.href = '/';",10000);
</script>-->
<div id="about" role="main" class="application">
    <h1 class="mainH1">Confirme seu cadastro</h1>
    <br />
    <p>Obrigado por se cadastrar...</p>
    <p>Dentro de instantes você deverá receber um email para confirmação de seu cadastro. Caso não receba, verifique também a sua caixa de SPAM.</p>
    <%= link_to "Não recebeu o email de confirmação?", new_confirmation_path(resource_name) %> 
</div>