<div style=" background-color: #F4F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3%;
    padding: 0.5% 3% 5%;
    width: 70%;">
<h1 style="color:#B84848">Termos de seguro</h1>

<br />
<br />
<b><ins>Segurança</ins></b><br /><br />
Esta área ajuda os usuários a utilizarem o serviço do Fit in a Place com mais segurança.<br />
Dicas para Hospedeiros<br />
<p>Pessoas hospedam por diversas razões. Independentemente da sua razão, desenvolvemos algumas dicas que podem ajudá-lo a hospedar de uma maneira mais segura e protegida.</p>

<ul>
<li>Cadastramento da sua casa:</li>
</ul>

<p>Ao cadastrar sua casa para hospedar uma pessoa, preencha todos os campos do formulário de cadastro, faça a descrição detalhada da sua oferta, sempre comunique as regras da casa, as especificações e qual tipo de hóspede é desejado na casa.</p>

<ul>
<li>Seguro:</li>
</ul>

<p>Utilizar o serviço de seguro para sua casa é maneira simples e acessível para a proteção de situações inesperadas. Para melhorar a segurança você pode utilizar o seguro de locação de férias ou de proprietário. Para saber melhor sobre seguros para a residência informe-se com seu fornecedor de seguros ou provedores da região.</p>

<ul>
<li>Hóspede:</li>
</ul>

<p>No momento em que o interessado entrar em contato, você pode tirar todas as dúvidas dele e você também pode fazer perguntas, por exemplo:</p>

<ul>
<li>Você está viajando sozinho ou com outros? Quantos estarão viajando com você?</li>
<li>Quantas pessoas no seu grupo? Quais são as idades e ocupações?</li>
<li>De onde você está vindo e quanto tempo pretende ficar?</li>
<li>Pretende ficar mais tempo do que o evento?</li>
<li>Você costuma beber nos eventos?</li>
<li>Qual o limite máximo para o cancelamento da reserva?</li>
</ul>

<ul>
<li>Pagamento:</li>
</ul>

<p>Antes de fechar o acordo entre ambas as partes já esclarecer quando será feito o pagamento e o valor da diária. </p>

<br />
Dicas para Hóspedes<br />
<h3 dir="ltr" >Nós queremos que você aproveite o evento e a estadia. Desenvolvemos algumas dicas para deixar sua viagem mais emocionante e segura.</h3>

<ul>
<li>Procura de hospedagem:

</li>
</ul>

Procure hospedeiros que tenham nome real, fotografia, descrição completa e que tire suas dúvidas ao contatá-lo.

Veja se o que o hospedeiro divulga é o que você realmente está procurando.

Ao ler o endereço anunciado, procure em mapas para saber se a região é segura e o que possui nos arredores e se a distância da localização em relação ao evento.

Leia os comentários feitos por outras pessoas, pode ajudá-lo na tomada de decisão.

Leia atentamente as regras da casa, se você é a pessoa que o anfitrião deseja, as comodidades oferecidas, etc.

<ul>
<li>Faça perguntas ao hospedeiro:

</li>
</ul>

<h3 dir="ltr">Tire dúvidas através de mensagens pelo Fit in a Place, faça perguntas e conheça seu anfitrião, assim, criando uma relação de confiança. Exemplos de perguntas:</h3>

<ul>
<li>Outras pessoas estarão lá ao mesmo tempo? Eles terão acesso ao meu espaço?</li>
<li>Existe um espaço seguro para armazenar meus pertences?</li>
<li>Durante o evento alguém estará na casa?</li>
<li>Sua casa fica a qual distância do evento?</li>
<li>Tem algum transporte que me leva até o local?</li>
<li>Se eu voltar do evento de madrugada, alguém estará acordado para eu poder entrar na casa?</li>
<li>Receberei uma cópia da chave da casa?</li>
<li>Poderei usar a cozinha com comidas que eu levar?</li>
</ul>
<ul>
<li>Podemos negociar serviços adicionais, por exemplo: carona até o evento, café da manha, almoço e/ou jantar, etc ? </li>
<li>Qual o limite máximo para o cancelamento da reserva?</li>
</ul>

<br />
<ul>
<li>Pesquise:</li>
</ul>

Sempre procure mais de um local para a hospedagem, alguns proprietários podem não respondê-lo à tempo. Assim você pode ter mais de uma opção para escolher a locação, porém você só pode fechar acordo com um hospedeiro.<br />
<ul>
<li>Seguro:</li>
</ul>

Se você se preocupa com imprevistos durante a viagem ao evento, como emergências e/ou roubos dos pertences, assinar um seguro de viagem pode diminuir as preocupações. Para compreender o serviço de seguro de viagem e as opções que possui, você deve consultar um fornecedor de seguro de viagem.