/* BASE */

body
{
    font-family: "Trebuchet MS";
}

hgroup, h1, h2, h3, h4, h5, h6
{
    color: #AA0A00;
}

nav
{
    background-color: #AA0A00;
    height: 30px;
    width: 100%;
    font-size: 13px;
}

header
{
    width: 980px;
    padding: 0px;
    margin: 0 auto;
    margin-top: 10px;
}

div#Logo
{
    margin-left: 50px;
    width: 420px;
    padding: 20px 0px;
}

#Login
{
    width: 360px;
    margin-right: 50px;
}

div#Seach
{
    width: 880px;
    border-bottom: 2px solid #AA0A00;
    padding: 40px 50px;
    height: auto;
    display: inline-block;
}

#Ilustration
{
    width: 880px;
    height: 200px;
}

#Conteudo
{
    width: 880px;
    padding: 20px 50px;
    height: 200px;
    margin: 0 auto;
    border-bottom: 2px solid #AA0A00;
}

div#Highlights
{
    width: 880px;
    padding: 20px 50px;
    margin: 0 auto;
}

footer#Footer
{
    height: 100px;
    background-color: #888;
    padding: 20px 0px;
    font-family: helvetica;
}


/*-- First Menu --*/

nav#First-Menu ul
{
    font-family: helvetica;
}

nav#First-Menu ul li
{

}

nav#First-Menu ul li a
{
    color: #FFF;
}


/*-- Login --*/

section#Login
{
    background-color: #AA0A00;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    color: #fff;
    font-family: bitter;
}

section#Login  div
{
    margin-bottom: 10px;
}

section#Login label[for="email"],
section#Login label[for="password"]
{
    display: block;
    color: #FFF;
    font-size: 15px;
}

section#Login input[type="email"],
section#Login input[type="password"],
section#Login input[type="image"],
section#Login input[type="submit"]
{
    height: 23px;
    border-radius: 5px;
}

section#Login input[type="submit"]
{
    background-color: #FFF;
    font-size: 15px;
    color: #AA0A00;
}

section#Login h1,
section#Login h2,
section#Login h3,
section#Login p
{
    color: #FFF;
}

section#Login h1
{
    font-size: 20px;
}

/*-- Seach --*/

section#Seach
{
    float: left;
    clear: both;
}

section#Seach label,
section#Seach input[type="text"]
{
    height: 23px;
}

section#Seach input[type="text"]
{
    border-radius: 5px;
    width: 70%;
    height: 34px;
}

section#Seach input[type="image"]
{
    display: block;
    margin-top: 10px;
}


/* Highlights */

section#highlights img
{
    margin: 10px 15px;
    border: 1px solid #000;
}

section#highlights .centralizer
{
    display: table;
}
/*-- Footer --*/

footer#Footer ul
{

}

footer#Footer ul li
{

}

footer#Footer ul li a
{
    color: #FFF;
}

div#LineFooter
{
    height: 2px;
    background-color: #CCC;
    margin: 20px 50px;
}