*
{
    margin: 0;
    padding: 0;
    border: none;
}

ul 
{
    list-style: none;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address 
{
    font-weight: normal;
    margin: 0 0 10px 0;
}

cite, 
em, 
dfn 
{
    font-style: italic;
}

sup 
{
    position: relative;
    bottom: 0.3em;
    vertical-align: baseline;
}

sub 
{
    position: relative;
    bottom: -0.2em;
    vertical-align: baseline;
}

li, 
dd, 
blockquote 
{
    margin-left: 0;
}

code, 
kbd, 
samp, 
pre, 
tt, 
var, 
input[type=‘text’], 
textarea 
{
    font-size: 100%;
    font-family: monaco, "Lucida Console", courier, mono-space;
    background-color: #CCC;
}

del 
{
    text-decoration: line-through;
}

ins, dfn 
{
    border-bottom: 1px solid #ccc;
}

small, 
sup, 
sub 
{
    font-size: 85%;
}

abbr, acronym 
{
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: .1em;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

a abbr, 
a acronym 
{
    border: none;
}

sup 
{
    vertical-align: super;
}

sub 
{
    vertical-align: sub;
}

h1 
{
    font-size: 2em;
}

h2 
{
    font-size: 1.8em;
}

h3 
{
    font-size: 1.6em;
}

h4 
{
    font-size: 1.4em;
}

h5 
{
    font-size: 1.2em;
}

h6 
{
    font-size: 1em;
}
a.linkum:link {
color:#999999;
text-decoration:none;
}
a.linkum:visited {
color:#999999;
text-decoration:none;
}
a.linkum:hover {
color:#000000;
text-decoration:underline;
}
a.linkum:active {
color:#00FF00;
text-decoration:underline;
background-color:#000000;
}
a, 
a:link{
color:#AA0A00;
text-decoration:none;
font-weight: bold;
}
a:visited{
color:#AA0A00;
text-decoration:none;
}
a:hover{
color:#000000;
text-decoration:underline;
}
a:active 
{
    color:#00FF00;
    outline: 0;
    text-decoration: none;
}
a img 
{
    border: none;
    text-decoration: none;
}
img 
{
    border: none;
    text-decoration: none;
}

 button 
{
    cursor: pointer;
}

input:focus, 
select:focus, 
textarea:focus 
{
    background-color: #FFF;
}

fieldset 
{
    border: none;
}

.clear 
{
    clear: both;
}

.float-left 
{
    float: left;
}

.float-right 
{
    float: right;
}

.centralizer
{
    margin: 0 auto;
}

#wrapper 
{
    margin: 0 auto;
    text-align: left;
}


ul.menu-horizontal
{
    margin: 0 auto;
    display: table;
    width: 880px;
}

ul.menu-horizontal li
{
    float: left;
    
}

ul.menu-horizontal li a
{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}


ul.menu-horizontal a:hover
{
    background-color: rgb(122, 7, 0);
}

input  
{
    border-radius: 3px;
    margin: 5px 0px;
}

