<div id="main" role="main">
	<div style=" background-color: #F4F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3%;
    <!--padding: 0.5% 3% 5%;-->
    width: 90%;">
<h1 style="color:#B84848;margin-left: -35px;margin-top: 0px;">Cadastro</h1>

<div style="background-color: white; border-radius: 10px 10px 10px 10px;padding: 0.5% 3% 5%;margin-left: -35px;margin-top: 0px;color:#B84848">
<br />
<p>Os dados foram enviados com sucesso.</p>
<p>Após a verificação, um <u>e-mail de confirmação</u> será enviado para ativar seu cadastro.</p><br />
  <span> Grato,</span><br />
  <span> equipe Fit in a Place</span>	
</div>
</div>
</div>
