<div style="border-radius: 10px; background-color: #A80713; padding: 10px; color:white; font-size: 20pt;">
	&nbsp; Login
	<br />
	<br />
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div style="font-size: 14pt; margin-left: 20px;">
		e-mail:&nbsp;<%= f.email_field :email %>
	</div>
	<br />
	<div style="font-size: 14pt; margin-left: 20px;">
		senha:&nbsp;<%= f.password_field :password %>
		<div style="float:right">
			<%= f.submit "Entrar" %>
		</div>
	</div>
	<br />
	<% end %>
</div>