
<div style=" background-color: #F4F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3%;
    padding: 0.5% 3% 5%;
    width: 70%;">
<h1 style="color:#B84848">Como Funciona?</h1>
<br />

<ins>
		Regras
</ins>
<p>
O Fit in a Place criou algumas regras para melhorar sua experiência.
</p>
<br /><br />
<ins>Regras para Hospedeiro</ins>
<br /><br />
<li><i>Transparência</i> </li>

<p>Os anúncios devem ser claros e verdadeiros, principalmente em relação ao que você pode oferecer
(preços, comodidades, expectativas, quantidade de hóspedes, localização, etc). Deste modo facilita a
negociação com o hóspede e demosntra confiança.</p>

<li><i>Comunique-se com pessoas interessadas ao seu anúncio</i></li>

<p>Os viajantes podem ter dúvidas sobre o seu anúncio, e entrarão em contato. Responda-os
amigavelmente, com clareza e com informações verídicas, ajudando a fechar um acordo com mais
facilidade.</p>

<li><i>Reservas</i></li>

<p>Ao fechar um acordo você se comprometeu a disponibilizar o local ao hóspede e com os serviços
negociados. Os viajantes estão dependentes da sua hospedagem. Caso ocorra um problema e você
não possa mais oferecer o local negociado contate rapidamente o hóspede para ele poder encontrar
outro lugar para ficar.</p>

<li><i>Ajude os hóspedes</i></li>

<p> os viajantes não conhecem a região, ajude-os com informações sobre onde comer,
localização e como chegar ao evento, como voltar, horários, quais locais devem ser evitados, entre
outras informações.</p>

<li><i>Negocie</i></li>

<p> o hóspede queira alguns serviços adicionais que não estavam no contrato negocie com ele e
veja algumas vantagens que você pode receber. Por exemplo: o hóspede pedir carona até o evento,
você pode dar a carona cobrando um preço “x” para tal serviço.
</p>
<br /><br />
<p><ins> Para o Viajante (hóspede)</p></ins>

<li><i>Comunique-se</i></li>

<p>Ao se interessar por uma vaga, entre em contato com o hospedeiro, tire todas suas dúvidas antes de
fechar um acordo.</p>

<li><i>            Respeite o acordo</i></li>

<p> fechar um acordo com o hospedeiro, você deverá respitar todas as condições negociadas.</p>

<li><i>Respeite o local</i></li>

<p>Respeite o local da sua hospedagem, comporte-se como gostaria que outras pessoas se
comportasse na sua casa. Seja respeitoso e atencioso com as pessoas que vivem no local.</p>

<li><i>Notifique</i></li>

<p>Caso ocorrer algum problema ou imprevisto, notifique o hospedeiro para ele poder ajudá-lo, ele não

adivinhará seus problemas!</p>
	

</div>
