<div id="HowItWorks" class="application" >
    <h1>Como Funciona?</h1>
    <p>O Fit in a Place criou algumas regras para melhorar sua experiência.</p>
    <br /><br />
    <h2>Regras para Hospedeiro</h2>
    <ul>
        <li>
            <h3>Transparência</h3> 
            <p>Os anúncios devem ser claros e verdadeiros, principalmente em relação ao que você pode oferecer (preços, comodidades, expectativas, quantidade de hóspedes, localização, etc). Deste modo facilita a negociação com o hóspede e demosntra confiança.</p>
        </li>
        <li>
            <h3>Comunique-se com pessoas interessadas ao seu anúncio</h3>
            <p>Os viajantes podem ter dúvidas sobre o seu anúncio, e entrarão em contato. Responda-os amigavelmente, com clareza e com informações verídicas, ajudando a fechar um acordo com mais facilidade.</p>
        </li>
        <li>
            <h3>Reservas</h3>
            <p>Ao fechar um acordo você se comprometeu a disponibilizar o local ao hóspede e com os serviços negociados. Os viajantes estão dependentes da sua hospedagem. Caso ocorra um problema e você não possa mais oferecer o local negociado contate rapidamente o hóspede para ele poder encontrar outro lugar para ficar.</p>
        </li>
        <li>
            <h3>Ajude os hóspedes</h3>
            <p>Os viajantes não conhecem a região, ajude-os com informações sobre onde comer, localização e como chegar ao evento, como voltar, horários, quais locais devem ser evitados, entre outras informações.</p>
        </li>
        <li>
            <h3>Negocie</h3>
            <p>O hóspede queira alguns serviços adicionais que não estavam no contrato negocie com ele e veja algumas vantagens que você pode receber. Por exemplo: o hóspede pedir carona até o evento, você pode dar a carona cobrando um preço “x” para tal serviço.</p>
        </li>
    </ul>
    <br /><br />
    <h2> Regras para o Viajante (hóspede)</h2>
    <ul>
        <li>
            <h3>Comunique-se</h3>
            <p>Ao se interessar por uma vaga, entre em contato com o hospedeiro, tire todas suas dúvidas antes de fechar um acordo.</p>
        </li>
        <li>
            <h3>Respeite o acordo</h3>
            <p> fechar um acordo com o hospedeiro, você deverá respitar todas as condições negociadas.</p>
        </li>
        <li>
            <h3>Respeite o local</h3>
            <p>Respeite o local da sua hospedagem, comporte-se como gostaria que outras pessoas se comportasse na sua casa. Seja respeitoso e atencioso com as pessoas que vivem no local.</p>
        </li>
        <li>
            <h3>Notifique</h3>
            <p>Caso ocorrer algum problema ou imprevisto, notifique o hospedeiro para ele poder ajudá-lo, ele não adivinhará seus problemas!</p>
        </li>
    </ul>
</div>
