<div id="main" role="main" class="application">
    <h1>FAQ</h1>
    <p>Geral</p>
    <h2>Usuário</h2>
    <h3>Como me cadastro no Fit in a Place?</h3>
    <p>Ao entrar no site da Fit in a Place, clique no link “cadastrar” para abrir a página de cadastro do usuário. Preencha todos os campos com dados verdadeiros.</p>

    <h3>Como funciona?</h3>
    <p>Fit in a Place é um sistema web criada para interagir hospedeiros locais e públicos de eventos. Onde o hospedeiro divulga um espaço disponível para locação, e a pessoa que for para um evento procurar um local para ficar durante o período.</p>

    <h3>O Fit in a Place cobra alguma taxa?</h3>
    <p>Não, o Fit in a Place não cobra taxa de uso.</p>

    <h3>Esqueci minha senha, o que eu faço?</h3>
    <p>Caso você se esqueça da sua senha, clique no link “esqueci a senha” da página home, e preencha o formulário. Você receberá um e-mail que permitirá você mudar de senha.</p>
    
    <h3>Como editar meu perfil?</h3>
    <p>Você pode mudar seu perfil clicando no link “editar conta” na sua página principal, somente quando você estiver logado.</p>


    <h2>Hospedeiro</h2>
    <h3>Como cadastrar um evento?</h3>
    <p>Para o cadastramento de um evento, o usuário deve estar logado e acessar a página de eventos, e depois clicar em “criar um novo evento”</p>

    <h3>Como achar um evento para cadastro?</h3>
    <p>Você poderá achar o evento pesquisando pelo nome do evento nas áreas de busca ou clicar no link “eventos” que aparecerão todos os eventos cadastrados.</p>

    <h3>Como cadastrar minha casa?</h3>
    <p>Para cadastrar a casa, o usuário deve estar logado, e clicar no link “casas”, você deve preencher o formulário com dados verdadeiros e principalmente os recursos (quarto, sofá, etacionamento, um colchão, etc) que poderá oferecer ao visitante.</p>
    <p>Para cadastrar sua casa em um evento, você deverá acessar a página do evento no site, e clicar no link “Adicionar oferta” e preencher o formulário.</p>

    <h3>Quem pode ser hospedeiro?</h3>
    <p>Qualquer pessoa que possua um local para alojar um viajante e que goste de conhecer novas pessoas pode se tornar um hospedeiro. Você recebe um pagamento do viajante, de acordo com o preço que você indicou, ou o valor negociado com o seu hóspede.</p>
    
    <h3>O que posso fazer para ter mais segurança?</h3>
    <p>Nós da Fit in a Place desenvolvemos umas dicas de seguranças que ajudarão a minimar riscos e proteger o usuário. Clique aqui para saber sobre dicas de segurança para hospedeiros.</p>

    <h3>Quais são minhas obrigações como hospedeiro?</h3>
    <p>Como hospedeiro você deve forneceder todos os dados verdadeiros no momento do cadastro, fornecer todos os serviços negociados com o hóspede, tratar o hóspede com respeito e educação.</p>

    <h3>Quanto devo cobrar?</h3>
    <p>O hospedeiro deve cobrar o valor que achar necessário ou o valor combinado com o viajante.</p>

    <h3>Como editar meu anúncio?</h3>
    <p>Caso você queira editar seu anúncio, na página das suas casas cadastradas, existe a opção de editar.</p>

    <h3>Como é feito o rank dos anúncios?</h3>
    <p>Os anúncios inicialmente serão dispostos em ordem de cadastramento. </p>

    <h3>Como será feito o pagamento? Como vou receber?</h3>
    <p>O pagamento entre hóspede e anftrião será realizado de acordo com o “contrato” que ambas as partes concordaram no momento da negociação. O pagamento pode ser realizado no momento do check-in ou check-out, metade no check-in e o resto no check-out, transferência de conta bancária, entre outros métodos.</p>

    <h3>Posso cancelar a reserva?</h3>
    <p>Caso ocorra algum impresvisto e o hóspede necessite cancelar a reserva, contate o viajante o mais rapido possível, para que ele possa reservar outro local para descançar.</p>

    <h2>HÓSPEDE</h2>
    <h3>Como achar um evento que quero ir?</h3>
    <p>Você pode encontrar o evento na área de pesquisa, através do nome do evento.</p>

    <h3>Como achar um local para me acomodar?</h3>

    <p>Após encontrar o evento desejado, terá um link “Mostrar ofertas”, paarecerá todas as casas cadastradas no evento escolhido.</p>

    <h3>Como entrar em contato com o anftrião do local que gostei?</h3>
    <p>Na página do anúncio, terá um link para entrar em contato com o hospedeiro.</p>

    <h3>Posso negociar serviços adicionais com o hospedeiro ? (carona, comida, levar pessoas a mais, ou animais, etc)</h3>

    <p>A negociação ocorrerá tudo por conta dos usuários (hóspede e hospedeiro), o Fit in a Place não se responsabilizará por quebras de acordos.</p>

    <h3>Como reservar um local?</h3>
    <p>Ao encontrar uma casa que interesse o hóspede, clique no link “Demonstrar interesse”. Depois de algum tempo, o hospedeiro irá reservar ou não a sua vaga. Soment esse o hospedeiro reservar o seu interesse, você poderá contatá-lo por e-mail.</p>

    <h3>Posso reservar mais de um local?</h3>
    <p>Você não pode reservar mais de um local, você pode entrar em contato com diversos hospedeiros e fazer diversos orçamentos para escolher o melhor local. Você deverá reservar somente UMA locação após sua decisão de qual hospedagem.</p>

    <h3>Quais são minhas obrigações como hóspede?</h3>
    <p>Como hóspede você deve fornecer todas as informações verdadeiras no seu cadastro, respeitar o local alugado e região, respeitar as regras, serviços e o anfitrião.</p>

    <h3>O que posso fazer para ter mais segurança?</h3>
    <p>Nós da Fit in a Place desenvolvemos umas dicas de seguranças que ajudarão a minimar riscos e proteger o usuário. Clique aqui para saber sobre dicas de segurança para hóspedes.</p>


    <h3>Como será feito o acordo ?</h3>
    <p>Ao entrar em contato com o anfitrião, você deve realizar o acordo. No acordo vocês negociarão todas a variáveis possíveis como serviços adicionais, preços, diárias, regras, comodidades, horário de check-in e check-out, período máximo para cancelamento da reserva, entre outras. </p>
    <p>Todas as dúvidas deverão ser tiradas neste acordo para não haver problemas futuramente.</p>

    <h3>Posso cancelar a reserva?</h3>
    <p>Caso ocorra algum imprevisto, o hóspede poderá cancelar a reserva contatando o hóspede o mais rápido posível, assim, outro hóspede poderá utilizar o local. </p>

    <h3>Como será feito o pagamento?</h3>
    <p>O pagamento entre hóspede e anftrião será realizado de acordo com o “contrato” que ambas as partes concordaram no momento da negociação. O pagamento pode ser realizado no momento do check-in ou check-out, metade no check-in e o resto no check-out, transferência de conta bancária, entre outros métodos.</p>

</div>
