<div id="main" role="main">
<div style=" background-color: #F4F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3%;
    padding: 0.5% 3% 5%;
    width: 90%;">
<h1 style="color:#B84848">About</h1>
<br />
Fit in a Place é um sistema web criada para interagir hospedeiros locais e públicos de eventos. Onde o hospedeiro divulga um espaço disponível para locação, e a pessoa que for para um evento procurar um local para ficar durante no período.<br /><br /><br />
<b>FACILIDADES</b><br /><br />
Oferecemos este serviço para facilitar os contatos entre as pessoas, para poderem negociar a locação de um modo mais seguro e prático.<br />
Você pode viajar para participar em um evento sem se preocupar se há vagas em hotéis. Você garante uma vaga para descanço ao entrar em contato e reservando um lugar com o hospedeiro. O hospedeiro pode estar localizado perto do evento, te dar dicas de onde comer, onde pegar transportes, lojas de conveniências, etc.<br /><br />
<br />
<b>VANTAGENS</b><br /><br />
Os preços de uma diária varia muito de acordo com cada hospedeiro, e você pode negociar o valor e tempo de estadia, tornando sua viagem para o evento mais confortável e com uma experiência mais agradável.<br /><br />
Vantagens para hospedeiros<ul>
<li>Ganhar um dinheiro extra para sua renda alugando um espaço que não é usado.</li>
<li>Conhecer pessoas novas e ter novas experiências.</li>
</ul>

<br />
Vantagens para viajantes<ul>
<li>Ter um lugar para descançar pagando pouco.</li>
<li>Conhecer novas pessoas e ter novas experiências.</li>
<li>Conhecer culturas de outras regiões (caso o evento seja localizado em outra região)</li>
</ul>

</div>
</div>