<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou uma alteração de senha, e você pode utilizar o link abaixo para alterá-la.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Caso não tenha requisitado a alteração, por favor ignore este email.</p>

