<div id="main" role="main" class="application">
    <h1>Termos de uso</h1>
    <br />
    <p>Por este TERMO DE USO, o USUÁRIO do FIT IN A PLACE declara estar ciente e concordar que ao utilizar o sistema do FIT IN A PLACE, automaticamente aderirá e concordará em se submeter integralmente às condições do presente TERMO DE USO e quaisquer de suas alterações futuras, dispensada a necessidade de notificação de futuras e eventuais alterações.</p>

    <br />
    <p>As palavras neste instrumento grafadas integralmente em letras maiúsculas terão o significado que a elas é atribuído conforme o abaixo estabelecido:</p>

    <ul>
        <li><p>USUÁRIO(S): são as pessoas, físicas ou jurídicas, que acessam e usam os serviços prestados pelo FIT IN A PLACE.</p>

        </li>
        <li><p>SITE: conjunto de páginas ou lugar no ambiente da Internet ocupado com CONTEÚDO de uma empresa ou de uma pessoa.</p>

        </li>
        <li><p>SITE FIT IN A PLACE: é o SITE de internet registrado no Núcleo de Informação e Coordenação do Ponto BR (www.registro.br) sob o domínio fitinaplace.com.br, com todos os recursos e ferramentas relacionadas a este, bem como outros SITES e domínios da marca FIT IN A PLACE registrados nos respectivos órgãos responsáveis pela classificação e registro do domínio.</p>

        </li>
        <li><p>LINK(S): acesso eletrônico, seja por meio de imagens ou palavras, que permite a conexão a outras telas de um mesmo SITE, ou, ainda, de outros SITES.</p>

        </li>
        <li><p>SPAM: são e-mails enviados a um grupo de USUÁRIOS sem a sua devida permissão.</p>

        </li>
        <li><p>CONTEÚDO: inclui texto, programas, scripts, gráficos, fotos, sons, imagens, músicas, vídeos, combinações audiovisuais, animações, recursos interativos e outros materiais que o(s) USUÁRIO(S) têm acesso ou submetem a um SITE.</p>

        </li>
    </ul>

    <br />
    <p>Este documento informa as responsabilidades, deveres e obrigações que todo USUÁRIO(S) assume ao acessar ou utilizar o SITE FIT IN A PLACE e seus serviços relacionados como softwares, complementos, plug-ins, barras e acessórios a não ser quando regido por um TERMO DE USO específico.</p>

    <br />
    <p>1. DO OBJETO:</p>

    <br />
    <p>As funcionalidades do FIT IN A PLACE, possíveis graças à tecnologia eletrônica, não desvirtuam o fato de o SITE FIT IN A PLACE adicionar em seu meio eletrônico informações de USUÁRIOS pelas quais o SITE FIT IN A PLACE, NÃO se responsabiliza (assim como anúncios classificados em jornais, rádio, ou televisão), ou seja, as informações prestadas pelos USUÁRIOS são de integral e única responsabilidade de quem as prestou, eximindo-se o SITE FIT IN A PLACE de qualquer ônus.</p>

    <br />
    <p>Desse modo, é dever do(s) USUÁRIO(S) checar a veracidade das informações obtidas pelo meio eletrônico do SITE FIT IN A PLACE e tomar todas as medidas necessárias assecuratórias, com vistas a se proteger de danos, fraudes ou qualquer tipo de prejuízo, seja "on-line" ou "off-line".</p>

    <br />
    <p>O SITE FIT IN A PLACE e os demais participantes do SITE somente fornecerão ao USUÁRIO(S) informações e serviços mediante expressa concordância com TERMOS DE USO, condições e informações aqui contidas, assim como aos demais documentos incorporados ao mesmo por referência. O uso do SITE FIT IN A PLACE significa a total concordância com tais termos, condições e informações.</p>

    <br />
    <br />
    <p>2. DAS CONDIÇÕES GERAIS DE USO</p>

    <br />
    <p>O FIT IN A PLACE oferece em seu SITE um mecanismo de divulgação e busca de hospedagens totalmente alimentado por USUÁRIO(S) . Assim sendo, o SITE FIT IN A PLACE não assume qualquer responsabilidade que advenha das relações existentes entre USUÁRIOS, sejam elas diretas ou indiretas, ou também;</p>

    <br />
    <p>1. Por negociações realizadas de maneira informal, ou seja, fora do site, entre USUÁRIO(S). (verificar se o site é responsável pelas negociações que ocorrerem dentro do site. Esta cláusula, a contrário senso, diz que sim e precisa ser alterada se não for).</p>

    <br />
    <p>2. Por atritos, insultos, palavras de baixo calão ou qualquer outro tipo de agressão escritas em perfil de USUÁRIO(S).</p>

    <br />
    <p>Eventuais erros no funcionamento do SITE FIT IN A PLACE serão corrigidos durante o período que for necessário para manutenção. O SITE FIT IN A PLACE não se responsabiliza por danos decorrentes da não disponibilidade ou erro de funcionamento do SITE FIT IN A PLACE.</p>

    <br />
    <p>O SITE FIT IN A PLACE, seus funcionários, agentes, colaboradores, representantes e procuradores, devem ser eximidos de toda e qualquer responsabilidade decorrente de qualquer tipo de reclamação ou ação legal contra um ou mais USUÁRIO(S), sejam elas promovidas por outro USUÁRIO(S), ou inclusive por algum terceiro.</p>

    <br />
    <br />
    <p>3. DAS PRÁTICAS PROIBIDAS</p>

    <br />
    <p>O SITE FIT IN A PLACE envidará seus melhores esforços para evitar o envio não solicitado de e-mails. Para tanto, está estabelecido que é absolutamente proibida à utilização do SITE FIT IN A PLACE para a distribuição de SPAM ou o envio indiscriminado de mensagens de qualquer natureza via correio eletrônico.</p>

    <br />
    <p>Fica a critério exclusivo do SITE FIT IN A PLACE suspender e/ou inabilitar definitivamente e aplicar as medidas jurídicas cabíveis aos USUÁRIO(S) que se utilizarem do SITE FIT IN A PLACE com a finalidade de promover seus produtos ou serviços à venda ou com qualquer outro fim, e que forem denunciados pelas pessoas que receberam essas mensagens SPAM.</p>

    <br />
    <p>Os materiais do SITE FIT IN A PLACE poderão ser acessados, utilizados e impressos para o uso pessoal, mas em nenhuma hipótese para fins comerciais sem prévia autorização, do(s) USUÁRIO(S), logo, o USUÁRIO(S) não poderá copiar, modificar, criar trabalho derivado, transferir ou vender qualquer informação, "software", lista de USUÁRIO(S) e outras listas, produtos ou serviços obtidos no SITE FIT IN A PLACE para uso comercial sem prévia autorização.</p>

    <br />
    <p>Além disso, o USUÁRIO(S) não poderá:</p>

    <ol ><li><p>Transmitir ou enviar informações de qualquer natureza que possam incitar, induzir, ou promover atitudes discriminatórias, preconceituosas ou racistas, mensagens violentas ou delituosas e que atentem contra os bons costumes, à moral ou ainda que contrariem a ordem pública;</p>

        </li>
        <li><p>Cadastrar-se com informações de propriedade de terceiros ou falsas;</p>

        </li>
        <li><p>Utilizar os produtos ou serviços disponíveis no SITE FIT IN A PLACE para fins diversos daqueles a que se destinam;</p>

        </li>
        <li><p>Alterar, apagar ou corromper dados e informações de terceiros;</p>

        </li>
        <li><p>Violar a privacidade de quaisquer USUÁRIO(S). </p>

        </li>
        <li><p>Violar propriedade intelectual do SITE FIT IN A PLACE, de terceiros em geral, ou seja, direito autoral, marca, patente, etc., através de reprodução de material, sem a prévia autorização do proprietário;</p>

        </li>
        <li><p>Transmitir ou enviar arquivos com vírus, cavalo de tróia, worms, malware ou spyware de computador, com CONTEÚDO invasivo, destrutivo ou que cause dano temporário ou permanente nos equipamentos do destinatário e/ou do SITE FIT IN A PLACE.</p>

        </li>
        <li><p>Utilizar nomes e/ou apelidos considerados ofensivos, bem como os que contenham dados pessoais de qualquer USUÁRIO(S).</p>

        </li>
        <li><p>Transmitir ou enviar informações de propriedade de terceiros;</p>

        </li>
        <li><p>Usar endereços de computadores, de rede ou de correio eletrônico falso;</p>

        </li>
        <li><p>Utilizar materiais que contenham qualquer vírus, worms, malware e outros programas de computador que possa causar danos ao site ou ao USUÁRIO(S) do SITE FIT IN A PLACE; </p>

        </li>
        <li><p>Realizar a divulgação de materiais ilegais, agressivos, caluniosos, abusivos, difamatórios, discriminatórios, ameaçadores, danosos, invasivos da privacidade de terceiros, terroristas, vulgares, obscenos ou ainda condenáveis de qualquer tipo ou natureza que sejam prejudiciais a crianças e adolescentes e à preservação do meio ambiente de algum modo.</p>

        </li>
        <li><p>Anexar URLs, endereços de e-mail ou outro material publicitário ou de cunho de anúncio e/ou publicidade de terceiros sem prévia autorização do SITE FIT IN A PLACE.</p>

        </li>
    </ol><br />
    <p>O descumprimento às condições, termos e observações deste TERMO DE USO dá ao SITE FIT IN A PLACE o direito de cancelar, suspender, excluir ou desativar o cadastro, ou ainda o material enviado pelo USUÁRIO(S), temporária ou definitivamente, ao seu único e exclusivo critério, sem prejuízo das cominações legais pertinentes e sem a necessidade de comunicar ao USUÁRIO(S) a ação tomada dentro do seu sistema.</p>

    <br />
    <p>Todos os materiais do SITE FIT IN A PLACE, incluindo, mas não se limitando a apresentação, "layout", marcas, logotipos, sistemas, produtos, denominações de serviços e quaisquer outros materiais, inclusive bases de dados, programas, arquivos, imagens, vídeos ou materiais de qualquer outra natureza e que tenham contratualmente autorizadas suas veiculações no SITE FIT IN A PLACE são protegidas pela legislação de Propriedade Intelectual (Lei Federal 9.609/98).</p>

    <br />
    <br />
    <p>4. DOS DIREITOS DO SITE FIT IN A PLACE</p>

    <br />
    <p>São de titularidade do SITE FIT IN A PLACE e de suas afiliadas, clientes ou fornecedores os direitos de uso e propriedade delimitando que sua reprodução, transmissão e distribuição de tais materiais, não são permitidas sem o expresso consentimento por escrito do SITE FIT IN A PLACE ou do respectivo titular, sobretudo para o fim econômico ou comercial.</p>

    <br />
    <p>Caracterizará como infração da legislação vigente, o uso indevido de materiais protegidos por propriedade intelectual (direito autoral, marcas comerciais, patentes etc.) apresentados no SITE FIT IN A PLACE sujeitando-se o USUÁRIO(S) infrator às medidas judiciais cabíveis à espécie, sem prejuízo de eventual indenização por perdas e danos e honorários advocatícios ao SITE FIT IN A PLACE, bem como a terceiros que venham a sofrer pelo ato do USUÁRIO(S).</p>

    <br />
    <p>O FIT IN A PLACE contém LINKS para outros SITES operados por terceiros que não o FIT IN A PLACE ou suas afiliadas. Esses LINKS são fornecidos somente para sua referência, razão pela qual, o FIT IN A PLACE não tem controle sobre esses outros SITES e não se responsabiliza pelo CONTEÚDO dos mesmos, sendo que a inclusão desses LINKS no FIT IN A PLACE não implica na aprovação do material ou qualquer associação com seus proprietários. Assim, ao acessar e usar esses SITES, suas informações, materiais, produtos ou serviços, o USUÁRIO(S) estará fazendo por sua conta e risco.</p>

    <br />
    <p>Desse modo, ao ser encaminhado para outro SITE, o USUÁRIO(S) estará sujeito às políticas deste SITE, sobre o qual o FIT IN A PLACE não tem qualquer relação.</p>

    <br />
    <p>O FIT IN A PLACE poderá alterar, modificar ou ajustar este TERMO DE USO a qualquer tempo, sendo que essas alterações, modificações ou ajustes terão efeito somente após se tornarem públicos. Desse modo, o USUÁRIO(S) obriga-se a rever o TERMO DE USO do FIT IN A PLACE periodicamente, restando claro que o USUÁRIO(S) se subordina à aceitação do TERMO DE USO vigente no momento de seu acesso ou faz uso dos serviços prestados pelo FIT IN A PLACE.</p>

    <br />
    <p>O SITE FIT IN A PLACE se reserva ao direito de alterar, condensar ou excluir qualquer CONTEÚDO do SITE FIT IN A PLACE que considere, a seu exclusivo critério, violar as diretrizes de CONTEÚDO, a legislação brasileira ou de qualquer outra disposição do presente TERMO DE USO.</p>

    <br />
    <p>O USUÁRIO(S) afirma que não enviará material protegido por direitos autorais, por segredo de negócio ou de qualquer outra forma protegido por direitos de terceiros, a menos que tenha permissão do legítimo proprietário do material ou caso esteja legalmente autorizado a publicar o material e ceder ao SITE FIT IN A PLACE todos os direitos de licença aqui concedidos.</p>

    <br />
    <p>O FIT IN A PLACE não endossa qualquer CONTEÚDO enviado por qualquer USUÁRIO(S) ou licenciante ou qualquer opinião, recomendação ou conselho ali expresso. O FIT IN A PLACE renuncia expressamente toda e qualquer responsabilidade ligada ao CONTEÚDO.</p>

    <br />
    <br />
    <p>5. POLÍTICA DE PRIVACIDADE</p>

    <p>Ao se cadastrar no SITE FIT IN A PLACE, serão armazenados o endereço de e-mail, endereço I.P. e os demais dados que forem informados ao site pelo USUÁRIO(S) em nosso banco de dados, protegido e sigiloso, no qual apenas alguns funcionários habilitados, que são obrigados, por contrato, a manter confidencialidade de suas informações terão acesso.</p>

    <br />
    <p>No ato de cadastramento serão solicitadas informações tais como: nome do USUÁRIO(S), endereço de e-mail, data de nascimento, sexo, CEP, assim como assuntos de interesse pessoal, dentre outras. Ao se cadastrar no site Fit in a Place e utilizar nossos serviços, o USUÁRIO(S) deixa de ser anônimo para nós.</p>

    <br />
    <p>O Fit in a Place não aluga, não vende e não compartilha as informações pessoais com outras pessoas ou com empresas não afiliadas, exceto com objetivo de fornecer ao USUÁRIO(S) os serviços solicitados, tendo obtido para tanto a sua permissão, ou em circunstâncias específicas como ordem judicial ou advindas de lei.</p>

    <br />
    <p>Ao se logar em nosso site, será armazenado um cookie no computador do USUÁRIO(S) com a única finalidade de identificar a sua conta FIT IN A PLACE. Ao deslogar, este cookie será apagado.</p>

    <br />
    <p>O SITE FIT IN A PLACE poderá eventualmente modificar esta política sem aviso prévio. As mudanças mais significativas, quando oportuno, poderão ser comunicadas em área de destaque no website ou através de e-mail.</p>

    <br />
    <p>Para obter maiores informações entre em contato com email@fitinaplace.com.br</p>

    <br />
    <br />
    <p>6. DO PAGAMENTO</p>

    <br />
    <p>A aquisição da oferta se dará através da prestação de serviço de empresa responsável por gestão de pagamentos.</p>

    <p>O FIT IN A PLACE não poderá intervir nos resultados da relação do Usuário com a empresa responsável por gestão de pagamentos, uma vez que são administradas as operações de modo absolutamente independente do SITE FIT IN A PLACE.</p>

    <br />
    <p>O SITE FIT IN A PLACE não pode garantir de forma alguma que os serviços prestados pela empresa responsável pela gestão de pagamentos funcionará livres de erros, interrupções, mal-funcionamentos, atrasos ou outras imperfeições.</p>

    <br />
    <p>O SITE FIT IN A PLACE não será responsável pela disponibilidade ou não dos Serviços prestados pela empresa responsável pela gestão de pagamentos ou pela impossibilidade do uso do Serviço.</p>

    <br />
    <br />
    <p>7. FORO</p>

    <br />
    <p>Fica eleito o Foro Centural da Comarca da Capital, no Estado de São Paulo, como competente para dirimir quaisquer controvérsias decorrentes deste TERMO DE USO independentemente de qualquer outro, por mais privilegiado que seja ou venha a ser.</p>
</div>    