<p> O usuario <%= @user.name %> esta interessado na oferta "<%= @offering.titulo %>", para maiores detalhes <a href="fitinaplace.com/negociations?offering_id=<%= @offering.id%>"> clique aqui </a>. </p>
	
